{
  "root": true,
  "extends": ["eslint:recommended", "plugin:eslint-plugin/recommended", "plugin:node/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}
